body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: #e6e7e8;
}

#typer {
  font-size: 34px;
  position: absolute;
  bottom: 28px;
  left: 100%;
  margin-left: 10px;
  width: 200px;
  text-align: left;
}

.hamburg-menu {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 20px;
  display: none;
}
.hamburg-menu:hover,
.hamburg-menu.active {
  background: #efefef;
}
.hamburg-menu .bar {
  background: #ccc;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.sub-four img[alt="Twitter"] {
  margin-top: 60px;
}

.susconecta-container {
  overflow: hidden;
  text-align: center;
}
.susconecta-container .inner {
  width: 500px;
  position: relative;
  margin: auto;
}
#susconecta-logo-svg {
  width: 700px;
}

.susconectahashslinhas-container {
  position: absolute;
  right: 68px;
  top: 720px;
}

#susconectalinhas {

}

.intasvg-container {
  width: 900px;
  height: 900px;
  position: relative;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -250px;
}
.intasvg-container svg {
  width: 900px;
  position: absolute;
  left: -400px;
}
.start-btn {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -42px;
  opacity: 0.7;
  transition: opacity .5s;
  display: block;
}
.start-btn:hover {
  opacity: 1;
  transition: opacity .5s;
}

.susconectahashs-container {
  overflow: hidden;
  height: 736px;
  width: 616px;
  position: absolute;
  right: 0;
  top: 50px;
}
.susconectahashs-container svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -230px;
}

h1 {
 font-size: 48px;
}
h1 .subtitle {
  display: block;
  font-size: 22px;
  margin-top: 30px;
}

.container img {
  max-width: 100%;
}

section.one {
  background: #e6e7e8;
  position: relative;
}

.opening-passo-1 {
  font-weight: 100;
  font-size: 36px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -25px;
  color: #4c4d4f;
}
.opening-passo-2 {
  visibility: hidden;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -49px;
}
.opening-passo-3 {
  visibility: hidden;
}

section.two {
  background: #fff;
  overflow: hidden;
  height: 99px;
}

section.two.affix {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

section.three {
  background: #4d4d4f;
  color: #fff;
  position: relative;
}
section.three section.sub-one {
  padding-bottom: 150px;
}
section.three section.sub-two {
  position: relative;
}
section.three section.sub-three {
  padding-top: 130px;
}

section.three section.sub-three h1 {
  color: #f2dea6;
  font-size: 48px;
  margin-bottom: 70px;
}
section.three section.sub-four {
  padding: 150px 0;
}

section.three section.sub-six .container  {
  padding: 50px 0;
}
section.three section.sub-four .twitter-timeline {
  height: 300px !important;
}
section.two.affix+section.three {
  padding-top: 100px;
}

ul.social-links {
  text-align: right;
  margin: 0;
  padding: 50px 0;
}
ul.social-links li {
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 0 5px;
  width: 90px;
  height: 90px;
}
ul.social-links li img {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  transition: opacity 0.5s;
}
ul.social-links li img:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

section.four {
  background: #73b8b6;
  color: #fff;
}
section.five {
  background: #ad9fb4;
  color: #fff;
}

.row > .no-padding {
  padding: 0;
}

.vertical-align {
  display: table;
  min-height: 100%;
}
.vertical-align .va-inner {
  display: table-cell;
  vertical-align: middle;
}

.media-section .media-thumbs {

}
.media-section .media-thumbs .media-thumb {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  border: 2px solid transparent;
}
.media-section .media-thumbs .media-thumb a {
  display: block;
}

.media-section .media-thumbs .media-thumb:hover,
.media-section .media-thumbs .media-thumb.active {
  border: 2px solid #fff;
}

.media-section .media-thumbs.media-thumbs-3 .media-thumb {
  width: 31%;
  margin: 1% 0.5%;
}

#pessoas .info {}

  #pessoas .info p {
    font-size: 24px;
  }

#evoce .info {
  padding: 0 50px;
}
#evoce .info p {
  font-size: 24px;
  margin: 30px 0;
}
#evoce .info .btn-lg.btn-default {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 100px;
  font-weight: bold;
  padding: 10px;
  margin: 30px 0;
}
#evoce .info .btn-lg.btn-default:hover {
  color: #ad9fb4;
  background: #fff;
}
#evoce .parceiros {
  margin-top: 100px;
}

#accordion-susconecta {
  margin-top: 50px;
}

.panel-group .panel-large {
  border: none;
  background: transparent;
  margin-bottom: 10px;
}
.panel-large .panel-body {
  border: none !important;
}
.panel-large .panel-body a {
  color: #de8a98;
  text-decoration: none;
}
.panel-large .panel-body a:hover {
  text-decoration: underline;
}
.panel-large .panel-heading {
  padding: 0;
  border: none;
  background: transparent;
}
.panel-large .panel-heading .panel-title {
  font-weight: bold;
  font-size: 24px;
  position: relative;
}

.panel-large .panel-heading .panel-title a img {
  width: 84px;
  height: 84px;
  margin-right: 20px;
}
.panel-large .panel-heading .panel-title a span.seta {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  background: url(../assets/i/bigpanel_setas.png) no-repeat;
  position: absolute;
  right: 20px;
  top: 20px;
}

.panel-large .panel-heading .panel-title a[aria-expanded="false"] {
  background: transparent;
  border: 2px solid #E08999;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
  padding: 10px 84px 10px 20px;
  display: block;
}
.panel-large .panel-heading .panel-title a[aria-expanded="true"] {
  background: #E08999;
  color: #4D4D4F;
  border: 2px solid #E08999;
  border-radius: 15px;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
}
.panel-large .panel-heading .panel-title a[aria-expanded="true"] span.seta {
  background: url(../assets/i/bigpanel_setas.png) no-repeat -192px 0;
}

.panel-verde .panel-body a {
  color: #73b8b6;
}
.panel-verde .panel-heading .panel-title a[aria-expanded="false"] {
  border-color: #73b8b6;
  color: #73b8b6;
}
.panel-verde .panel-heading .panel-title a[aria-expanded="false"] span.seta {
  background: url(../assets/i/bigpanel_setas.png) no-repeat -128px 0;
}
.panel-verde .panel-heading .panel-title a[aria-expanded="true"] {
  border-color: #73b8b6;
  color: #4D4D4F;
  background: #73b8b6;
}
.panel-bege .panel-body a {
  color: #d8bca3;
}
.panel-bege .panel-heading .panel-title a[aria-expanded="false"] {
  border-color: #d8bca3;
  color: #d8bca3;
}
.panel-bege .panel-heading .panel-title a[aria-expanded="false"] span.seta {
  background: url(../assets/i/bigpanel_setas.png) no-repeat -64px 0;
}
.panel-bege .panel-heading .panel-title a[aria-expanded="true"] {
  border-color: #d8bca3;
  color: #4D4D4F;
  background: #d8bca3;
}
.panel-large .panel-heading .panel-title a:hover,
.panel-large .panel-heading .panel-title a:active,
.panel-large .panel-heading .panel-title a:focus {
  text-decoration: none;
}

#conexoes .btn-default {
  border:2px solid #fff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background: transparent;
  font-size: 14px;
  text-align: left;
  width: 500px;
}
#conexoes .btn-default:hover {
  text-decoration: none;
  background: #fff;
  color: #4d4d4f;
}
#conexoes .btn-default b {
  text-transform: uppercase;
  margin-right: 30px;
}

#conexoes .sub-two a[data-toggle="tooltip"]+.tooltip:before {
  content: url('../assets/i/tooltip_arrow_right.png');
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -6px;
}
#conexoes .sub-two a[data-toggle="tooltip"]+.tooltip .tooltip-arrow {
  display: none;
}
#conexoes .sub-two a[data-toggle="tooltip"]+.tooltip .tooltip-inner {
  background: #E5E6E8;
  color: #4d4d4f;
  border-radius: 0;
  font-weight: bold;
  margin-left: 25px;
}

#main-menu {
  position: relative;
  float: right;
  padding-right: 50px;
}
  #main-menu::after {
    content: 'março 2016';
    text-transform: uppercase;
    background: #de8a98;
    color: #fff;
    font-weight: 100;
    text-align: center;
    padding: 12px;
    width: 280px;
    position: absolute;
    right: -150px;
    top: 30px;
    font-size: 12px;
    transform: rotate(30deg);
  }
  #main-menu ul {
    margin: 0;
    padding: 0;
  }
    #main-menu ul li {
      list-style: none;
      display: inline-block;
    }
    #main-menu ul li:hover,
    #main-menu ul li:active,
    #main-menu ul li.active {
      background: transparent;
    }
    #main-menu ul li.slider {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 0;
      height: 4px;
      background: #4FC2E5;
      transition: all 0.5s;
    }
    #main-menu ul li a {
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      display: inline-block;
      color: #4c4d4f;
      padding: 37px 12px;
      background: transparent;
    }
    #main-menu ul li a:hover,
    #main-menu ul li a:active {
      background: transparent;
    }
    #main-menu ul li.cadastrese a {
      color: #a7a9ac;
    }

@media (max-width: 979px) {
  .hamburg-menu {
    display: block;
  }
  section.two {
    height: auto;
  }
  section.two .col-md-4 {
    float: left;
    width: 260px;
    margin-top: 10px;
  }
  section.two .col-md-8 {
    float: right;
    overflow: hidden;
    min-width: 60px;
  }
  #main-menu-section .container {
    width: auto;
  }
  #main-menu {
    padding-top: 80px;
    padding-right: 0;
  }
  #main-menu::after {
    display: none;
  }
  #main-menu ul li {
    display: block;
    text-align: right;
  }
  #main-menu ul li.active a,
  #main-menu ul li a:hover {
    border-bottom: 4px solid #4FC2E5;
    padding: 10px;
  }
  #main-menu ul li a {
    padding: 10px 10px 14px 10px;
  }
  #main-menu ul li.slider {
    display: none;
  }
  #main-menu.mobile ul {
    display: none;
  }
}

.insta-photo {
  background: #000;
  text-align: center;
}
.insta-desc {
  background: #353535;
  padding: 15px;
}

.biggrafico {
  position: relative;
}
#biggrafico_1 {
  position: relative;
  left: 77px;
  margin-bottom: 30px;
}
#biggrafico_3 {
  margin-top: -273px;
  margin-right: 28px;
}
.bggrafico_3_fotos {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left:0 ;
}
